{% extends "AppBundle::layout.html.twig" %}
{% trans_default_domain 'AppBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block class %}project{% endblock class %}

{% block content %}
    <h1>Project new</h1>

    {{ form(form) }}

    <div class="btn-group">
        <a href="{{ path('project_index') }}" class="btn btn-default">Index</a>
    </div>
{% endblock content %}
