{% extends "AppBundle::layoutOffCanvasMain.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block class %}project{% endblock class %}

{% block titleOffCanvas %}
    <h1>{{ 'project.template.new.title'|trans }}</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    {{ form(form) }}
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['appbundle_main_menu', 'project'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
