{% extends "AppBundle::layoutOffCanvasMain.html.twig" %}

{% block class %}project{% endblock class %}

{% block titleOffCanvas %}
    <h1>{{ 'project.template.show.title'|trans }}</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'project.entity.name'|trans }}</th>
            <td>{{ entity.name }}</td>
        </tr>
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:mainMenu', 'Projects'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
