{% extends "AppBundle::layoutSidebar.html.twig" %}

{% block class %}project{% endblock class %}

{% block header %}
    <h1>{{ 'project.template.show.title'|trans }}</h1>
{% endblock %}

{% block content %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'project.entity.name'|trans }}</th>
            <td>{{ entity.name }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['appbundle_main_menu', 'project'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
