.form-control {
  color: lighten(@gray-base, 33.5%); // #555;
}

.daterangepicker {
  .ranges li {
    color: #000;
  }

  .ranges li.active, .ranges li:hover {
    background: @red;
    border: 1px solid @red;
  }

  td.active, td.active:hover {
    background-color: @red;
    border-color: @red;
  }
}

.time-sum-table {
  border: 0 hidden transparent;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;

  td {
    text-align: right;
    border: 1px solid #ddd;
    padding: 0;
    vertical-align: top;
  }
}

.margin-left-10 {
  margin-left: 10px;
}

//calendar modal
#modalTabs {
  .nav-tabs-custom {
    margin-bottom: 0;

    .close {
      margin: 15px;
    }
  }

  .tab-content {
    button.btn-danger {
      margin-top: -44px;
      margin-right: 10px;
    }
  }
}

//fullcalendar event classes & overwrites
.fc-bg {
  opacity: 0 !important;
}

.fc-event, .fc-event:hover {
  color: @black !important;
}

.fc-event.absence {
  background-color: @calendarAbsence;
  border-color: darken(@calendarAbsence, 10%);

  .fc-resizer, .fc-resizer:hover {
    color: darken(@calendarAbsence, 20%);
  }
}

.fc-event.entry {
  background-color: @calendarEntry;
  border-color: darken(@calendarEntry, 10%);

  .fc-resizer, .fc-resizer:hover {
    color: darken(@calendarEntry, 20%);
  }
}

.fc-event.fc-draggable.copy {
  cursor: copy;
}