.daterangepicker {
  .ranges li {
    color: #000;
  }

  .ranges li.active, .ranges li:hover {
    background: @red;
    border: 1px solid @red;
  }

  td.active, td.active:hover {
    background-color: @red;
    border-color: @red;
  }
}