<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>{{ 'template.version'|trans }}</b> 0.6.4
    </div>
    <strong>{{ 'template.forkIt'|trans({'%link%': 'https://github.com/MewesK/trackway'})|raw }}</strong>
</footer>
