{% extends "AppBundle::base.html.twig" %}

{% block class %}sidebar-collapse{% endblock class %}

{% block navbar %}
    {{ knp_menu_render('appbundle_navbar_menu', {'template': 'AppBundle:Menu/Navbar:list.html.twig'}) }}
{% endblock %}

{% block body %}
    {% set messageTypeClasses = { 'success': 'alert-success', 'info': 'alert-info', 'warning': 'alert-warning', 'error': 'alert-danger'} %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert{% if messageTypeClasses[type] is defined %} {{ messageTypeClasses[type] }}{% endif %} alert-dismissable" role="alert">
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    <section class="content-header">
        {% block title %}{% endblock %}
        {% block breadcrumb %}{% endblock %}
    </section>
    <section class="content">
        <div class="box box-default">
            {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}
