{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
            <div class="list-group visible-xs">
                <a href="#" class="list-group-item" data-toggle="offcanvas"><i class="fa fa-fw fa-arrow-circle-left"></i>&nbsp;Close</a>
            </div>
            {% block sidebarOffCanvas %}{% endblock sidebarOffCanvas %}
        </div>
        <div class="col-xs-12 col-sm-9">
            <div data-toggle="offcanvas">
                <p class="pull-right visible-xs">
                    <span class="btn btn-default btn-sm"><i class="fa fa-reorder"></i></span>
                </p>
                {% block titleOffCanvas %}{% endblock titleOffCanvas %}
            </div>
            {% block contentOffCanvas %}{% endblock contentOffCanvas %}
        </div>
    </div>
{% endblock content %}