<div class="modal fade" id="entryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modalTabs">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#newEntry" data-type="entry" role="tab" data-toggle="tab">Entries</a>
                        </li>
                        <li role="presentation">
                            <a href="#newAbsence" data-type="absence" role="tab" data-toggle="tab">Absence</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="newEntry"></div>
                        <div role="tabpanel" class="tab-pane" id="newAbsence"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>