{{ form(form) }}
{% if deleteId is defined %}
    <button type="button"
            class="btn btn-danger pull-right delete"
            data-type="{{ type }}"
            data-id="{{ deleteId }}">
        <i class="fa fa-trash-o"></i> Delete
    </button>
{% endif %}