/web/*
!web/.htaccess
!web/app.php
!web/app_dev.php
!web/config.php
!web/robots.txt
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/bower_components/
/build/
/node_modules/
/src/AppBundle/Resources/views/favicons.html.twig
/vendor/
/composer.phar
/trackway.key
/trackway.crt
.DS_Store
.idea
.vagrant
*.d4e.io.rb
*.log
_build
