/web/bundles/
/web/css/
/web/fonts/
/web/images/
/web/js/
/web/lib/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/bower_components/
/build/
/node_modules/
/vendor/
/composer.phar
/trackway.key
/trackway.crt
.DS_Store
.idea
.vagrant
*.d4e.io.rb