<div class="box-footer clearfix">
    <p class="no-margin pull-left">
        Showing {{ pagination.count }} of {{ pagination.totalItemCount }}
    </p>
    {{ knp_pagination_render(pagination) }}
</div>
