{% extends "AppBundle::layoutOffCanvasMain.html.twig" %}
{% trans_default_domain 'AppBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block class %}timeentry{% endblock class %}

{% block titleOffCanvas %}
    <h1>Time Entry edit</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    {{ form(form) }}
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:mainMenu', 'Time Entries'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
