{% extends 'AppBundle::layoutOffCanvas.html.twig' %}
{% trans_default_domain 'AppBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block class %}profile_membership{% endblock class %}

{% block titleOffCanvas %}
    <h1>Profile Membership edit</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    {{ form(form) }}
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:userMenu', 'Profile', 'Memberships'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}

