imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        handler_id:  ~
        name:        "%session_name%"
    fragments:       ~
    http_method_override: true
    assets: ~

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form_themes:
        - 'AppBundle:Form:adminLte.html.twig'

# Doctrine Configuration
doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

# KnpMenuBundle Configuration
knp_menu:
    twig:
        template: knp_menu.html.twig
    templating: false
    default_renderer: twig

# ApiDoc Configuration
nelmio_api_doc: ~

# Disable the default view annotations and set up the FOSRest response listener
sensio_framework_extra:
    view:
        annotations: false

# FosRestBundle Configuration
fos_rest:
    param_fetcher_listener: true
    body_listener: true
    format_listener: true
    view:
        view_response_listener: 'force'
        formats:
          json: true
          xml: true
        templating_formats:
          html: true
    routing_loader:
        default_format: json

# KnpPaginatorBundle Configuration
knp_paginator:
    page_range: 5
    default_options:
        page_name: page
        sort_field_name: name
        sort_direction_name: direction
        distinct: true
    template:
        pagination: AppBundle:Pagination:sliding.html.twig
        sortable: AppBundle:Pagination:sortableLink.html.twig

# OrnicarGravatarBundle Configuration
ornicar_gravatar: ~
