{% extends "AppBundle::layoutOffCanvasUser.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block class %}profile{% endblock class %}

{% block titleOffCanvas %}
    <h1>{{ 'profile.template.changePassword.title'|trans }}</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    {{ form(form) }}
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:userMenu', 'profile'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}