{% for child in item.children %}
    {% set isActive = matcher.isCurrent(child) or matcher.isAncestor(child, options.matchingDepth) %}
    {% if isActive %}
        <li>
            {% if child.uri %}
                <a href="{{ child.uri }}">
            {% endif %}
            {% if item.extras['icon'] is defined %}
                <i class="{{ item.extras['icon'] }}"></i>
            {% endif %}
            {{ child.label|trans({}, 'menu') }}
            {% if child.uri %}
                </a>
            {% endif %}
        </li>
        {%  include 'AppBundle:Menu/Breadcrumb:item.html.twig' with {'item': child} %}
    {% endif %}
{% endfor %}
