{% extends "AppBundle::layoutSidebar.html.twig" %}
{% form_theme form 'AppBundle:Form:adminLte.html.twig' %}

{% block class %}task{% endblock class %}

{% block title %}
    <h1>{{ 'task.template.new.title'|trans }}</h1>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['appbundle_main_menu', 'task'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
