{% extends "AppBundle::layout.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block class %}task{% endblock class %}

{% block content %}
    <h1>Task</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group">
        <a href="{{ path('task_index') }}" class="btn btn-default">Index</a>
        {% if is_granted('EDIT', entity) %}
            <a href="{{ path('task_edit', { 'id': entity.id }) }}" class="btn btn-default">Edit</a>
            <a href="{{ path('task_delete', { 'id': entity.id }) }}" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>
{% endblock content %}
