{% extends 'AppBundle::layoutSidebar.html.twig' %}
{% form_theme form 'AppBundle:Form:adminLte.html.twig' %}

{% block class %}team_membership{% endblock class %}

{% block title %}
    <h1>{{ 'teamMembership.template.edit.title'|trans }}</h1>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['appbundle_team_menu', 'team', 'team.membership'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
