{% extends "AppBundle::layoutOffCanvas.html.twig" %}
{% trans_default_domain 'AppBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block class %}team{% endblock class %}

{% block contentOffCanvas %}
    <h1>Team new</h1>

    {{ form(form) }}
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    <a href="{{ path('team_index') }}" class="list-group-item">Index</a>
{% endblock sidebarOffCanvas %}
