{% extends "AppBundle::layoutSidebar.html.twig" %}

{% block class %}{{ parent() }} dashboard{% endblock %}

{% block header %}<h1>{{ 'dashboard.template.index.title'|trans }}</h1>{% endblock %}

{% block content %}
    <div id="calendar"></div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css" rel="stylesheet">
    <script>
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today,agendaDay,agendaWeek',
                center: 'title'

            },
            defaultView: 'agendaWeek',
            //aspectRatio: 2,
            //timezone: 'Europe/Berlin',
            events: '/timeentry/calendar',
            editable: false,
            minTime: '08:00:00',
            weekends: false
        });
    </script>

{% endblock %}