{% extends "AppBundle::layout.html.twig" %}

{% block class %}resetting{% endblock class %}

{% block content %}
    <h1>{{ 'resetting.template.checkMail.title'|trans }}</h1>

    <p>{{ 'resetting.template.checkMail.text'|trans }}</p>
{% endblock content %}