{% extends "AppBundle::layoutLogin.html.twig" %}

{% block body %}
    <p class="login-box-msg">{{ 'resetting.template.checkMail.message'|trans }}</p>

    <a href="{{ path('security_login') }}" class="text-center">{{ 'resetting.template.checkMail.login'|trans }}</a>
{% endblock %}
