{% extends "AppBundle::layoutSidebar.html.twig" %}
{% form_theme form 'AppBundle:Form:adminLte.html.twig' %}

{% block class %}user{% endblock class %}

{% block title %}
    <h1>{{ 'admin.user.template.new.title'|trans }}</h1>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['appbundle_admin_menu', 'admin', 'admin.user'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
