{% extends "AppBundle::layoutOffCanvasMain.html.twig" %}

{% block class %}user{% endblock class %}

{% block titleOffCanvas %}
    <h1>User</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    <table class="table">
        <tbody>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        </tbody>
    </table>
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:adminMenu', 'Users'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
