<?xml version="1.0" encoding="utf-8"?>
<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="app.menu.builder" class="AppBundle\Menu\Builder">
            <argument type="service" id="knp_menu.factory"/>
        </service>

        <service id="app.menu.navbar" class="Knp\Menu\MenuItem">
            <factory service="app.menu.builder" method="createNavbarMenu" />
            <tag name="knp_menu.menu" alias="appbundle_navbar_menu"/>
            <argument type="service" id="request_stack"/>
            <argument type="service" id="security.authorization_checker"/>
            <argument type="service" id="security.token_storage"/>
            <argument type="service" id="doctrine.orm.default_entity_manager"/>
        </service>

        <service id="app.menu.sidebar" class="Knp\Menu\MenuItem">
            <factory service="app.menu.builder" method="createSidebarMenu" />
            <tag name="knp_menu.menu" alias="appbundle_sidebar_menu"/>
            <argument type="service" id="request_stack"/>
            <argument type="service" id="security.authorization_checker"/>
            <argument type="service" id="security.token_storage"/>
        </service>

        <service id="app.menu.extension.icon" class="AppBundle\Menu\Extension\IconExtension">
            <tag name="knp_menu.factory_extension"/>
        </service>

        <service id="app.menu.extension.template" class="AppBundle\Menu\Extension\TemplateExtension">
            <tag name="knp_menu.factory_extension"/>
        </service>
    </services>
</container>
