{% extends 'AppBundle::layoutOffCanvasMain.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block class %}invitation{% endblock class %}

{% block titleOffCanvas %}
    <h1>{{ 'invitation.template.invite.title'|trans }}</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    {{ form(form) }}
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:teamMenu', 'team'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}