{% set class = false %}
{% if matcher.isCurrent(item) %}
    {% set class = 'active' %}
{% elseif matcher.isAncestor(item, options.matchingDepth) %}
    {% set class = 'active' %}
{% endif %}
<li{% if class %} class="{{ class }}"{% endif %}>
    <a href="{{ item.uri }}">
        {% if item.extras['icon'] is defined %}
            <i class="{{ item.extras['icon'] }}"></i>
        {% endif %}
        <span>{{ item.label|trans({}, 'menu') }}</span>
    </a>
</li>
