{% set isActive = matcher.isCurrent(item) or matcher.isAncestor(item, options.matchingDepth) %}
<li class="treeview{{ isActive ? ' active' : '' }}">
    <a href="{{ item.uri }}">
        {% if item.extras['icon'] is defined %}
            <i class="{{ item.extras['icon'] }}"></i>
        {% endif %}
        <span>{{ item.label|trans({}, 'menu') }}</span>
        {% if item.hasChildren %}
            <i class="fa fa-angle-left pull-right"></i>
        {% endif %}
    </a>
    {% if item.hasChildren %}
        <ul class="treeview-menu">
            {% for child in item.children %}
                {% if child.extras['template'] is defined %}
                    {% include child.extras['template'] with {'item': child} %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
