{% extends "AppBundle::layout.html.twig" %}

{% block class %}registration{% endblock class %}

{% block content %}
    <h1>{{ 'registration.template.checkMail.title'|trans }}</h1>

    <p>{{ 'registration.template.checkMail.text'|trans }}</p>
{% endblock content %}