{% extends "AppBundle::layout.html.twig" %}

{% block class %}registration{% endblock class %}

{% block content %}
    <h1>Registration</h1>

    <p>Please check your mails and click on the confirmation link.</p>
{% endblock content %}