{% extends "AppBundle::layoutLogin.html.twig" %}

{% block content %}
    <p class="login-box-msg">{{ 'registration.template.checkMail.message'|trans }}</p>

    <a href="{{ path('security_login') }}" class="text-center">{{ 'registration.template.checkMail.login'|trans }}</a>
{% endblock %}
