<li class="dropdown user user-menu">
    <a href="{{ item.uri }}" class="dropdown-toggle" data-toggle="dropdown">
        <img src="{{ gravatar(app.user.email, 25) }}" class="user-image" alt="User Image">
        <span class="hidden-xs">{{ item.label }}</span>
    </a>
    {% if item.extras['listTemplate'] is defined %}
        {% include item.extras['listTemplate'] with {'item': item} %}
    {% endif %}
</li>
