<li class="dropdown user tasks-menu">
    <a href="{{ item.uri }}" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-users"></i>
    </a>
    {% if item.hasChildren is defined %}
        <ul class="dropdown-menu">
            {% for child in item.children %}
                {% if child.extras['template'] is defined %}
                    {% include child.extras['template'] with {'item': child} %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
