<li class="dropdown notification notifications-menu">
    <a href="{{ item.uri }}" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="label label-warning" id="notificationCount"></span>
    </a>
    {% if item.hasChildren is defined %}
        <ul class="dropdown-menu">
            <li>
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
                    <ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                    {% for child in item.children %}
                        {% if child.extras['template'] is defined %}
                            {% include child.extras['template'] with {'item': child} %}
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <div class="slimScrollBar" style="width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 195.122px; background: rgb(0, 0, 0);"></div>
                    <div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                </div>
            </li>
        </ul>
    {% endif %}
</li>