<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        {% for child in item.children %}
            {% if child.extras['itemTemplate'] is defined %}
                {% include child.extras['itemTemplate'] with {'item': child} %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
