{% extends "AppBundle::layoutOffCanvas.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block class %}profile{% endblock class %}

{% block titleOffCanvas %}
    <h1>Profile edit</h1>
{% endblock titleOffCanvas %}

{% block contentOffCanvas %}
    {{ form(form) }}
{% endblock contentOffCanvas %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['AppBundle:Builder:userMenu', 'Profile'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
