{% extends "AppBundle::layoutSidebar.html.twig" %}
{% form_theme form 'AppBundle:Form:adminLte.html.twig' %}

{% block class %}absence{% endblock class %}

{% block header %}
    <h1>{{ 'absence.template.edit.title'|trans }}</h1>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block sidebarOffCanvas %}
    {{ knp_menu_render(['appbundle_main_menu', 'absence'], {}, 'appbundle_sidebar_renderer') }}
{% endblock sidebarOffCanvas %}
